@model LocationModel

@{ Html.RenderPartial("Title"); }

<div class="banner bannerTextColor bannerTitle textCenter text subTitle">
    Location Details
</div>
@{bool modelLocationNameExists = Model != null && !string.IsNullOrEmpty(Model.LocationName);}
@{bool modelLocationIdExists = Model != null && Model.LocationiId > 0;}
@{bool modelLocationDetailsIdExists = Model != null && Model.LocationDetails != null && Model.LocationDetails.LocationDetailId > 0;}
@{bool modelWeatherExists = Model != null && Model.LocationDetails != null && !string.IsNullOrEmpty(Model.LocationDetails.Weather);}
@{bool modelPeopleExists = Model != null && Model.LocationDetails != null && !string.IsNullOrEmpty(Model.LocationDetails.People);}
@{bool modelFoodExists = Model != null && Model.LocationDetails != null && Model.LocationDetails != null && !string.IsNullOrEmpty(Model.LocationDetails.Food);}

@if (Model.isEdit || Model.isNew)
{
    @using (Html.BeginForm("DetailsPost", "Location", FormMethod.Post))
    {
        <div>
            <div class="detailsLeftRight">
                <div class="detailsLeft">
                    <div class="centerText">
                        <label class="text textRegularColor textRegular labelEditable">Location Name</label>
                    </div>
                </div>
                <div class="detailsRight">
                    @Html.TextBox("Model.LocationName", modelLocationNameExists ? Model.LocationName : null, null,
                                                                                  new
                                                                                  {
                                                                                      @class = "text textRegularColor textRegular"
                                                                                  })
                </div>
            </div>
            <div class="detailsLeftRight">
                <div class="detailsLeft">
                    <div class="centerText">
                        <label class="text textRegularColor textRegular labelEditable">Weather</label>
                    </div>
                </div>
                <div class="detailsRight">
                    @Html.TextBox("Model.LocationDetails.Weather", modelWeatherExists ? Model.LocationDetails.Weather : null, null,
                                                                                  new
                                                                                  {
                                                                                      @class = "text textRegularColor textRegular"
                                                                                  })
                </div>
            </div>
            <div class="detailsLeftRight">
                <div class="detailsLeft">
                    <div class="centerText">
                        <label class="text textRegularColor textRegular labelEditable">People</label>
                    </div>
                </div>
                <div class="detailsRight">
                    @Html.TextBox("Model.LocationDetails.People", modelPeopleExists ? Model.LocationDetails.People : null, null,
                                                                          new
                                                                          {
                                                                              @class = "text textRegularColor textRegular"
                                                                          })
                </div>
            </div>
            <div class="detailsLeftRight">
                <div class="detailsLeft">
                    <div class="centerText">
                        <label class="text textRegularColor textRegular labelEditable">Food</label>
                    </div>
                </div>
                <div class="detailsRight">
                    @Html.TextBox("Model.LocationDetails.Food", modelFoodExists ? Model.LocationDetails.Food : null, null,
                                                                          new
                                                                          {
                                                                              @class = "text textRegularColor textRegular"
                                                                          })
                </div>
            </div>
            @Html.Hidden("Model.LocationiId", modelLocationIdExists ? Model.LocationiId : 0)
            @Html.Hidden("Model.LocationDetails.LocationDetailId", modelLocationDetailsIdExists ? Model.LocationDetails.LocationDetailId : 0)
            @Html.Hidden("Model.isEdit", Model.isEdit)
        </div>
        <div class="detailsButtons">
            <input type="submit" value="Submit" class="text button" />
            <input type="button" value="Cancel" class="text button"
                   onclick="location.href='@Url.Action("Index",
                                    "Location",
                                    new {
                                        @class = "textRegularColor text"
                                    })';" />
        </div>
    }
}
else
{
    @using (Html.BeginForm("DetailsPost", "Location", FormMethod.Post))
    {
        <div>
            <div class="detailsLeftRight">
                <div class="detailsLeft">
                    <div class="centerText">
                        <label class="text textRegularColor textRegular labelEditable">Location Name:&nbsp;</label>
                    </div>
                </div>
                <div class="detailsRight">
                    @Html.Label("Model.LocationName",
                                         Model.LocationName,
                                         new
                                         {
                                             @class = "text textRegularColor textRegular"
                                         })
                </div>
            </div>
            <div class="detailsLeftRight">
                <div class="detailsLeft">
                    <div class="centerText">
                        <label class="text textRegularColor textRegular labelEditable">Weather:&nbsp;</label>
                    </div>
                </div>
                <div class="detailsRight">
                    @Html.Label("Model.LocationDetails.Weather",
                                         Model.LocationDetails.Weather,
                                         new
                                         {
                                             @class = "text textRegularColor textRegular"
                                         })
                </div>
            </div>
            <div class="detailsLeftRight">
                <div class="detailsLeft">
                    <div class="centerText">
                        <label class="text textRegularColor textRegular labelEditable">People:&nbsp;</label>
                    </div>
                </div>
                <div class="detailsRight">
                    @Html.Label("Model.LocationDetails.Weather",
                                         Model.LocationDetails.People,
                                         new
                                         {
                                             @class = "text textRegularColor textRegular"
                                         })
                </div>
            </div>
            <div class="detailsLeftRight">
                <div class="detailsLeft">
                    <div class="centerText">
                        <label class="text textRegularColor textRegular labelEditable">Food:&nbsp;</label>
                    </div>
                </div>
                <div class="detailsRight">
                    @Html.Label("Model.LocationDetails.Weather",
                                         Model.LocationDetails.Food,
                                         new
                                         {
                                             @class = "text textRegularColor textRegular"
                                         })
                </div>
            </div>
        </div>
        <div class="detailsButtons">
            <input type="button" value="Cancel" class="text button"
                   onclick="location.href='@Url.Action("Index",
                                            "Location",
                                            new {
                                                @class = "textRegularColor text"
                                            })';" />
        </div>
    }
}

