@model LocationModel
@{
    ViewData["Title"] = "Location Details";
}

@*@{bool modelLocationNameExists = Model != null && !string.IsNullOrEmpty(Model.LocationName);}
    @{bool modelWeatherExists = Model != null && Model.LocationDetails != null && !string.IsNullOrEmpty(Model.LocationDetails.Weather);}
    @{bool modelPeopleExists = Model != null && Model.LocationDetails != null && !string.IsNullOrEmpty(Model.LocationDetails.People);}
    @{bool modelFoodExists = Model != null && Model.LocationDetails != null && Model.LocationDetails != null && !string.IsNullOrEmpty(Model.LocationDetails.Food);}*@

@if (Model.isEdit)
{
    @using (Html.BeginForm("DetailsPost", "Location", FormMethod.Post))
    {
        <p>Location Details</p>
        <label>Location Name</label>
        @Html.TextBox("Model.LocationName", Model.LocationName)
        <br />
        <label>Weather</label>
        @Html.TextBox("Model.LocationDetails.Weather", Model.LocationDetails.Weather)
        <br />
        <label>People</label>
        @Html.TextBox("Model.LocationDetails.People", Model.LocationDetails.People)
        <br />
        <label>Food</label>
        @Html.TextBox("Model.LocationDetails.Food", Model.LocationDetails.Food)
        <br />
        <input type="submit" value="Submit" />
        @Html.Hidden("Model.LocationiId", Model.LocationiId);
        @Html.Hidden("Model.isEdit", Model.isEdit);
    }
}
else
{
    @using (Html.BeginForm("DetailsPost", "Location", FormMethod.Post))
    {
        <p>Location Details</p>
        <label>Location Name:&nbsp;</label>
        @Html.Label("Model.LocationName", Model.LocationName)
        <br />
        <label>Weather:&nbsp;</label>
        @Html.Label("Model.LocationDetails.Weather", Model.LocationDetails.Weather)
        <br />
        <label>People:&nbsp;</label>
        @Html.Label("Model.LocationDetails.People", Model.LocationDetails.People)
        <br />
        <label>Food:&nbsp;</label>
        @Html.Label("Model.LocationDetails.Food", Model.LocationDetails.Food)
        <br />
    }
}
<br />
<br />
@Html.ActionLink("Summary", "Index", "Location")
