@model LocationsModel

@{ Html.RenderPartial("Title"); }

<div class="banner bannerTextColor bannerTitle textCenter text subTitle">
    Location Summary
</div>
<div class="summary">
    <div class="summaryList">
        <ul>
            @foreach (LocationModel location in Model.Locations)
            {
                <li>
                    <input type="button" value="Edit" class="text button"
                           onclick="location.href='@Url.Action("Details",
                                                  "Location",
                                                  new {
                                                      id = @location.LocationiId,
                                                      isEdit = true,
                                                      isDelete = false,
                                                  })';" />
                    <input type="button" value="Delete" class="text button"
                           onclick="location.href='@Url.Action("Delete",
                                                  "Location",
                                                  new {
                                                      id = @location.LocationiId
                                                  })';" />

                    @Html.ActionLink(location.LocationName, "Details",
                                                         "Location",
                                                         new
                                                         {
                                                             id = @location.LocationiId
                                                         },
                                                         new {
                                                             @class = "textRegularColor text textRegular"
                                                         })
                </li>
            }
        </ul>
    </div>
</div>
<div class="summaryButtons">
    <input type="button" value="New" class="text button"
           onclick="location.href='@Url.Action("Details",
                                  "Location",
                                  new {
                                      id = 0,
                                      isEdit = false,
                                      isDelete = false,
                                      @class = "textRegularColor text"
                                  })';" />
</div>